{% extends 'base.html' %}

{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="George W. Park">
    <meta name="description" content="This project demonstrates how CSS grid (with flexbox and float fallback) can be used to re-create the layout of an Instagram profile page.">

    <!-- Title -->
    <title>Instagram Profile Layout</title>

    <!-- External CSS Files -->
    <link rel="stylesheet" href="{%  static 'assets3/css/reset.css' %}">
    <link rel="stylesheet" href="{%  static 'assets3/css/styles.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">

</head>
<body>

    <header>

        <div class="container">

            <div class="profile">

                <div class="profile-image">

                    <img src="{{profile.image.url}}" alt="" style="width: 200px; height: 200px;">

                </div>

                <div class="profile-user-settings">

                    <h1 class="profile-user-name">{{profile.first_name|title}} {{profile.last_name|title}}</h1>

                    <br>
                    

                    <h5 style="font-size: 15px;" class="profile-user-name">@{{profile.user.username}}</h5>
              
                     <a href="{% url 'edit_profile' %}">      <button class="btn profile-edit-btn">Edit Profile</button>  </a>
                    <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fas fa-cog" aria-hidden="true"></i></button>
                    <br><br>
                    {% if request.user.is_authenticated and request.user != profile.user %}
                        {% if follow_status == True %}
                            <a href="{% url 'follow_user' profile.user 0 %}" class="btn profile-edit-btn" style="color: red;">Unfollow</a> <br><br>
                        {% else %}
                            <a href="{% url 'follow_user' profile.user 1 %}" class="btn profile-edit-btn" style="color: green;">Follow</a> <br><br>
                        {% endif %}
                    {% endif %}

                              {% if request.user.is_authenticated and request.user != profile.user %}
                                <a href="{% url 'NewConfabulation' profile.user  %}" class="btn profile-edit-btn">Message</a> <br><br>
                        {% endif %}
                        <br>

        
                    <br>
   


                </div>

               
                   <!-- <h1>Bio Section:</h1> -->
                <div class="profile-bio">

                    <h1 style="font-weight: bolder;color: rgb(231, 137, 59);">Bio Section:</h1>

                    <p><span class="profile-real-name"></span>◉ {{profile.bio}}</p>
                    <p><span class="profile-real-name"></span>◉ {{profile.location}}</p>

                    <p><span class="profile-real-name"></span>◉ <a href="{{profile.url}}">{{profile.url}}</a></p>



                </div>

                <br style="color: black;">

                
                <div class="profile-user-settings">
                    {% for post in posts_paginator %}
                        <div>
                            {% if url_name == 'profile' %}
                                <a href="{% url 'FavoritePost' post.id %}" class="btns profiele-edit-btn" style="font-weight: bolder; color: rgb(0, 255, 98); font-size: x-large;">Posts</a>
                            {% else %}
                                <a href="{% url 'FavoritePost' post.id %}" class="btns profiele-edit-btn" style="font-weight: bolder; color: rgb(0, 0, 0); font-size: x-large;">Posts</a>
                            {% endif %}
                
                            {% if url_name == 'FavoritePost' %}
                                <a href="{% url 'FavoritePost' post.id %}" class="btns profeile-edit-btn" style="font-weight: bolder; color: rgb(255, 115, 0); font-size: x-large;">Saved</a>
                            {% else %}
                                <a href="{% url 'FavoritePost' post.id %}" class="btns profeile-edit-btn" style="font-weight: bolder; color: rgb(0, 0, 0); font-size: x-large;">Saved</a>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div> 

           
                


                 

                <div class="profile-stats">

                    <ul>
                        <li><span class="profile-stat-count">{{posts_count}}</span> posts</li>
                        <li><span class="profile-stat-count">{{followers_count}}</span> followers</li>
                        <li><span class="profile-stat-count">{{following_count}}</span> following</li>
                    </ul>

                </div>

              

            </div>
            <!-- End of profile section -->

        </div>
        <!-- End of container -->

    </header>

    <main>

        <div class="container">

            <div class="gallery">
                
                {% for post in posts %}

                <a href="{{post.get_absolute_url}}"><div class="gallery-item" tabindex="0">

                    <img src="{{ post.pictures.url }}" class="gallery-image" alt="" style="width: 500px; height: 300px; object-fit: cover;">

                    <div class="gallery-item-info">

                        <ul>
                            <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i> {{post.likes}}</li>
                            <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i> {{post.comment.count}}</li>
                        </ul>

                    </div>

                </div></a>
                {% endfor %}

     

                

                

            </div>
            <!-- End of gallery -->


        </div>
        <!-- End of container -->

    </main>

</body>
</html>

{% endblock content %}